.sectionflex {
    display: flex
}

nav {
    background-color: gray;
}

header {
    padding: 1px;
    text-align: center;
} 

aside {
    background-color: gray;
    width: 30%;
    padding: 20px;
    box-sizing: content-box;
    text-align: center;
}

section {
    width: 70%;
    padding: 20px;
    box-sizing: content-box;
    text-align: center;
}

footer {
    text-align: center;
}