nav {
    background-color: gray;
}

header {
    padding: 1px;
    text-align: center;
} 

aside {
    width: 20%;
    float: left;
    padding: 20px;
    box-sizing: content-box;
    text-align: center;
}

section {
    width: 80%;
    float: left;
    padding: 20px;
    box-sizing: content-box;
    text-align: center;
}

footer {
    text-align: center;
}