body {
    font-family: Arial;
}

header img {
    padding-bottom: 20px;
}

.sectionflex {
    display: flex;
    justify-content: space-evenly;
}

nav, footer nav {
    height: auto;
    display: flex;
    justify-content: center;
    background-color: gray;
    transition: background-color 0.3s ease;
}

nav ul a {
    background-color: gray;
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: bisque;
    color: black;
}

header {
    text-align: center;
} 

aside {
    background-color: #4472C4;
    width: 20%;
    box-sizing: border-box;
    border: 3px solid black;
    text-align: left;
}

.state-stats, .socials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 20px 0px 20px;
}

#table1, th, td {
    border: 1px solid;
}

aside h3 {
    text-align: center;
}

aside ul {
    list-style-type: none;
}

section {
    width: 80%;
    box-sizing: content-box;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

section img {
    width: auto;
    max-width: 50%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

.contact-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.absolute-message {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #4472C4;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5%;
}

#relative-message {
    position: relative;
    bottom: 10px;
}